{{#Definition[[INDEX]]_LearningText}}
    <div class="dictionary-note lt2nt front">
        <div class="top">
            <div class="text learning">
                <div class="main">{{Definition[[INDEX]]_LearningText}}</div>
                {{#Definition[[INDEX]]_AltLearningText}}
                    <div class="alt">{{Definition[[INDEX]]_AltLearningText}}</div>
                {{/Definition[[INDEX]]_AltLearningText}}
            </div>
            <div class="context">
                <span class="lexical-cat">{{LexicalCat}}</span>
            </div>
        </div>
    </div>
{{/Definition[[INDEX]]_LearningText}}
