{{#Definition[[INDEX]]_LearningText}}
    <div class="main-content">
        <div class="text">
            {{Definition[[INDEX]]_LearningText}}
            {{#Definition[[INDEX]]_AltLearningText}}
                <div class="alt-text">{{Definition[[INDEX]]_AltLearningText}}</div>
            {{/Definition[[INDEX]]_AltLearningText}}
        </div>
        <div class="lang-hint">
            <span class="lexical-cat">{{LexicalCat}}</span> ({{LearningLang}})
        </div>
    </div>

{{/Definition[[INDEX]]_LearningText}}
