<div class="text-note nt2lt front">
    <div class="top">
        <div class="context">
            <div class="top-lang">{{NativeLang}}</div>
        </div>
        <div class="text native">
            <div class="main">{{NativeText}}</div>
            {{#AltNativeText}}
                <div class="alt">{{AltNativeText}}</div>
            {{/AltNativeText}}
        </div>
        <div class="context">
            <span class="lexical-cat">{{LexicalCat}}</span>
        </div>
    </div>
</div>
