<div class="main-content">
    <div class="text">
        {{LearningText}}
        {{#AltLearningText}}
            <div class="alt-text">{{AltLearningText}}</div>
        {{/AltLearningText}}
    </div>
    <div class="lang-hint">
        <span class="lexical-cat">{{LexicalCat}}</span> ({{LearningLang}})
    </div>
</div>
