<!-- Individual native-to-learning-text card, not grouped under a single headword -->
<!-- [[REFERENCE_TEXT]] -->
<div class="text-note nt2lt front">
    <div class="top">
        <div class="text native">
            <div class="main">{{NativeText}}</div>
            {{#AltNativeText}}
                <div class="alt">{{AltNativeText}}</div>
            {{/AltNativeText}}
        </div>
        <div class="context">
            <span class="languages">{{NativeLang}} ⟶ {{LearningLang}}</span>
        </div>
    </div>
</div>
