<div class="main-content">
    <div class="phrase native">
        {{NativeText}}
        {{#AltNativeText}}
            <div class="alt-text">[{{AltNativeText}}]</div>
        {{/AltNativeText}}
    </div>
    <div class="lang-hint">({{NativeLang}})</div>
</div>
