<div class="text-note lt2nt front">
    <div class="top">
        <div class="text learning">
            <div class="main">{{LearningText}}</div>
            {{#AltLearningText}}
                <div class="alt">{{AltLearningText}}</div>
            {{/AltLearningText}}
        </div>
        <div class="context">
            <span class="lexical-cat">{{LexicalCat}}</span>
        </div>
    </div>
</div>
