<div class="main-content">
    <div class="text">
        {{NativeText}}
        {{#AltNativeText}}
            <div class="alt-text">{{AltNativeText}}</div>
        {{/AltNativeText}}
    </div>
    <div class="lang-hint">
        <span class="lexical-cat">{{LexicalCat}}</span> ({{LearningLang}})
    </div>
</div>
