<!-- Individual learning-to-native-text card, not grouped under a single headword -->
<!-- [[REFERENCE_TEXT]] -->
<div class="text-note lt2nt front">
    <div class="top">
        <div class="text learning">
            <div class="main">{{LearningText}}</div>
            {{#AltLearningText}}
                <div class="alt">{{AltLearningText}}</div>
            {{/AltLearningText}}
        </div>
        <div class="context">
            <span class="languages">{{LearningLang}} ⟶ {{NativeLang}}</span>
        </div>
    </div>
</div>
